<section class=" bannerCarousel owl-carousel owl-theme">
  {% for block in section.blocks %}
    <div class="item">
      <div class="topBannar">
        {{ block.settings.image | image_url: width: 2000 | image_tag: class: 'bgImg' }}
        <div class="topBnannarInner">
          <div class="container">
            <h1>{{ block.settings.slideTitle }}</h1>
            <a href="#">SHOP ></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
<!-- services section starts here -->
<section class="servicesCards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="servicesLinks">
          <a class="" href="#">SHOP BOATS</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="servicesLinks bdrLft">
          <a class="" href="#">REQUEST SERVICE</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="servicesLinks bdrLft">
          <a class="" href="#">PRO SHOP</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="servicesLinks bdrLft">
          <a class="" href="#">TEST DRIVE A BOAT</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section starts here -->
{% schema %}
  {
    "name": "banner",
    "tag": "section",
    "class": "banner",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "slideTitle",
            "label": "Slidetitle"
          }, {
            "type": "url",
            "id": "slideButton",
            "label": "Slidebutton"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}