<h1>Drak Hub</h1>
<div class="bannerCarousel owl-carousel owl-theme">
  {% for block in section.blocks %}
    <div class="item">
      <div class="imgBnr">
        {{ block.settings.image | image_url: width: 2000 | image_tag }}
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "banner",
    "tag": "section",
    "class": "banner",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}