<h1>Drak Hub</h1>
{% schema %}
  {
    "name": "banner",
    "tag": "section",
    "class": "banner",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ]
  }
{% endschema %}