<h1>Drak Hub</h1>
<div class="bannerCarousel owl-carousel owl-theme">
  <div class="item">
    <h4>1</h4>
  </div>
  <div class="item">
    <h4>2</h4>
  </div>
</div>
{% schema %}
  {
    "name": "banner",
    "tag": "section",
    "class": "banner",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}