<!-- nav bar starts here -->
<section class="navWrapper">

  <nav class="navbar navbar-default customNav">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="{%- if section.settings.HeaderLogo -%}{{section.settings.HeaderLogo | image_url }}  {%- else -%}{{'logoblack.svg'|asset_url}}{%- endif -%}" alt=""></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="boats.html">BOATS</a>
          </li>
          <li>
            <a href="parts.html">PARTS & SERVICES</a>
          </li>
          <li>
            <a href="#">FINANCING</a>
          </li>
          <li>
            <a href="pro-shop.html">PRO SHOP</a>
          </li>
          <li>
            <a class="navLinks" href="about.html">ABOUT</a>
          </li>
          <li>
            <a class="navLinks" href="locations.html">CONTACT</a>
          </li>
          <li>
            <a href="#" class="search">
              <i class="fa fa-search"></i>
            </a>
          </li>
        </ul>
      </div>
    <!-- /.navbar-collapse -->
    </div>
  <!-- /.container-fluid -->
  </nav>
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
          <p>RIVERSIDE
            <span>951-653-9253</span>
          </p>
          <p>WOODLAND HILLS
            <span>818-225-7669</span>
          </p>
          <p>NORCO
            <span>951-479-9640</span>
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <a class="customBtn" href="#">SCHEDULE A TEST DRIIVE</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- nav bar ends here -->
{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "shopify-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "HeaderLogo",
        "label": "Header Logo"
      }
    ]
  }
{% endschema %}