<h1>Collections</h1>
{% paginate collection.products by 20 %}
  {% for product in collection.products %}
    {{ product.title }}
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}