<h1>Collections</h1>
{% paginate collection.products by 20 %}
  {% for product in collection.products %}
   1. {{ product.title }} <br>
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}